<h2>List of Todo Tasks</h2>

<label for="add-task">Add new task: </label>
<div class="custom-input add"><input type="text" id="add-task" /></div>

<table id="tasks-table">
  <tr>
    <th>Name</th>
    <th class="completed-th">Completed</th>
    <th class="remove-th"></th>
  </tr>
</table>

<br/>