<td class="task-name"><%= name %></td>
<td class="completed"><a href="#"><img src="assets/<%= completed %>.png" /></a></td>

<td class="remove"><a href="#" class="destroy"><img src="assets/remove.png" /></a></td>