body {
  background-color: #FFF;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image:url('grad.png');
  background-repeat:repeat-x;
}

#tasks {
  align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
}

table {
  position:relative;
  top: 10px;
  background-color: #C5D9ED;
  width: 600px;
  align: center;
  border-collapse: collapse;
}

table {
  padding: 0px;
  margin: 0px;
}

td { padding: 3px; }
td.completed, td.remove { text-align: center; padding: 1px; }
.completed-th, .remove-th { width: 100px; }

table, tr, td { border: 1px solid #007ACC; }

th {
  background-color: #007ACC;
  color: white;
}

h2 { color: #007ACC; }

a { text-decoration: none; color: #005893; }
a:hover { text-decoration: underline; }

label { font-weight: bold; color: #007ACC; }
